<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <body>
    <section layout:fragment="content" th:object="${ item }">
      <h2>
        <span>Drug:</span>
        <span th:text="*{ accession }"></span>
      </h2>
      <table class="table" style="margin-top: 30px;">
        <tr>
          <th>Accession</th>
          <td th:text="*{ accession }"></td>
        </tr>
        <tr>
          <th>Name</th>
          <td th:text="*{ name }"></td>
        </tr>
        <tr>
          <th>Description</th>
          <td th:text="*{ description }"></td>
        </tr>
        <tr>
          <th>Activity</th>
          <td th:text="*{ activity }"></td>
        </tr>
        <tr>
          <th>Formula</th>
          <td th:text="*{ formula }"></td>
        </tr>
        <tr>
          <th>Mass</th>
          <td th:text="*{ mass }"></td>
        </tr>
        <tr>
          <th>Names</th>
          <td th:text="*{ names }"></td>
        </tr>
        <tr>
          <th>Notes</th>
          <td th:text="*{ notes }"></td>
        </tr>
        <tr>
          <th>Target</th>
          <td th:text="*{ target }"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h4>Diseases</h4>
      <div id="diseases"></div>
      <h4 style="margin-top: 30px;">Pathogens</h4>
      <div id="pathogens"></div>
      <script th:inline="javascript">
          vardb.createDrugPathogenTable( [[ ${ id } ]] );
          vardb.createDrugDiseaseTable( [[ ${ id } ]] );
      </script>
    </section>
  </body>
</html>
