<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <meta charset="UTF-8" />
    <title>varDB: Antigenic variation database</title>
    <link href="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}" rel="stylesheet"></link>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link href="/css/tabulator.min.css" th:href="@{/css/tabulator.min.css}" rel="stylesheet"></link>
    <link href="/css/vardb.css" th:href="@{/css/vardb.css}" rel="stylesheet"></link>
    <script src="/js/jquery-3.3.1.min.js" th:href="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="/js/jquery-ui.min.js" th:href="@{/js/jquery-ui.min.js}"></script>
    <script src="/js/jquery.numeric.min.js" th:href="@{/js/jquery.numeric.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <script src="/js/tabulator.min.js" th:href="@{/js/tabulator.min.js}"></script>
    <script src="/js/vardb.js" th:href="@{/js/vardb.js}"></script>
  </head>
  <body>
  <table id="table">
  </table>
  <script  th:inline="javascript">
      $( '#table' ).tabulator(
          {
              columns: [
            	  { title: 'ID', field: 'id', minWidth: 150 },
            	  { title: 'Hits', field: 'hits', minWidth: 150, align: 'right' },
            	  { title: 'Size', field: 'size', minWidth: 150, align: 'right' },
            	  { title: 'Type', field: 'type', minWidth: 300 }
              ],
              ajaxURL: 'kegg_ortholog_oc',
              ajaxParams: { id: [[ ${ id } ]] },
              ajaxConfig: 'GET',
              pagination: 'local',
              paginationSize: 25,
              resizableColumns: true,
              layout: 'fitColumns',
              initialSort: [
                  { column: 'id', dir: 'asc' }
              ]
          }
      );
  </script>
  </body>
</html>